<div class="container">
  <p id="notice"><%= notice %></p>
  <h1>マイページ</h1>
  
  <div class="row">
      
    <% if @user.image.url == nil %>
      <span class="glyphicon glyphicon-user iconsize col-md-4" aria-hidden="true"></span>
    <% else %>
      <%= image_tag(@user.image, :class => "col-md-4")%>
    <% end %>
    
    <table class="col-md-6">
      <tr>
        <td><strong>名前:</strong></td>
        <td><%= @user.name %></td>
      </tr>
      
      <tr>
        <td><strong>メールアドレス:</strong></td>
        <td><%= @user.email %></td>
      </tr>
    </table>
  </div>

  <%= link_to '編集', edit_user_path(@user), class:"btn btn-info col-md-offset-7" %>  
  <%= link_to "Logout", session_path(current_user.id), method: :delete, class:"btn btn-info" %>
  
  <br>
  
  <h1>お気に入り</h1>
  <% @favorites_pictures.each do |fav| %>
    <table class="table">
        <tr><td id="index-name"><%= @users.find(fav.user_id).name %></td>
        <tr><td class="index-td" id="index-image"><%= image_tag(fav.image) %></td></tr>
        <tr><td class="index-td"><%= fav.description %></td></tr>
    </table>
  <% end %>
    

</div>